<%- include("partials/header.ejs") %>

    <h1>Work List</h1>
            <% for(var i = 0; i < showList.length; i++) { %>
                <div class="item">
                    <input type="checkbox">
                    <p><%= showList[i] %></p>
                </div>
            <% } %>
            <form action="/work" method="post">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
                <button type="submit" name="list" value="Work" list="">+</button>
              </form>
        
            
            
    

  <%- include("partials/footer.ejs") %>